/******************************************************************************/


/*                           1. General Styles                                */


/******************************************************************************/

html, body {
    height: 100%;
    /* force the BODY element to match full height */
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section {
    background-color: #eee;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
}

.grey-section {
    background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 30px;
    color: #777;
    font-family: 'Titillium Web', sans-serif;
}

.title {
    color: #333;
    font: 40px/30px 'Amaranth', sans-serif;
    margin-bottom: 20px;
    margin-left: 50px;
}

.h-section-r {
    border: 0;
    height: 5px;
    background-color: #FFB300;
    width: 20%;
    margin-bottom: 20px;
    margin-left: 50px;
}

a {
    color: #FFB300;
}

.symbol-section {
    color: #FFB300;
    margin-left: 80px;
    font-size: 30px;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #111;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
}

#particles-js canvas {
    display: inline-block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/******************************************************************************/


/*                               2. NAVBAR                                    */


/******************************************************************************/

.fa-bars {
    color: #FFB300;
    font-size: 30px;
}

#nav-wrap{
  width:100vw;
}

.navbar-toggle {
    margin-right: 0;
    width: 100%;
}

.navbar-toggle:hover {
    background-color: transparent;
}

.navbar-collapse{
  padding-left: 0!important;
  padding-right: 0!important;
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}


/* nav-wrap */

#nav-wrap {
    font: 14px 'Titillium Web', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    padding-top:15px;
}


/* hide toggle button */

#nav-wrap>a.mobile-btn {
    display: none;
}

ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
}

ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}


/* Links */

ul#nav li a {
    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #eee;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

ul#nav li a:active {
    background-color: transparent;
    color: #FFB300!important;
}

ul#nav li.active a {
    color: #FFB300;
}

ul#nav li a:hover {
    background-color: #FFB300 !important;
    color: #222;
}

.navbar-solid {
    background-color: #111 !important;
    padding: 0 !important;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    height: 50px;
}

.active {
    color: #FFB300!important;
    background-color: #eee !important;
}


/******************************************************************************/


/*                           3. Header Styles                                 */


/******************************************************************************/

.header {
    height: 100%;
    min-height: 100%;
    width: 100%;
    /*background: #161415 url(../../assets/imgs/banner.png) no-repeat top center;*
    background-size: cover !important;
    -webkit-background-size: cover !important;*/
    background-color: transparent!important;
    text-align: center;
    position: relative;
}


/* center vertically - stackoverflow trick */

.header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.header .banner-text h1 {
    font: 90px 'Amaranth', sans-serif;
    color: #eee;
    letter-spacing: 2px;
    margin: 0 auto 18px auto;
    display: inline-block;
    width: 85%;
    /*text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);*/
}

.header .banner-text h3 {
    font: 18px/35px 'Titillium Web', sans-serif;
    color: #ddd;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.header .banner-text h4 {
    font: 14px/30px 'Titillium Web', sans-serif;
    color: #ddd;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}


/* header social links */

.header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

.header .social li a {
    color: #eee;
}

.header .social li a:hover {
    color: #FFB300;
    border-bottom: 3px solid #FFB300;
}


/* scrool down link */

.header .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    display: block;
    font-size: 42px;
    color: #eee;
    border-radius: 100%;
}

.header .scrolldown a:hover {
    color: #FFB300;
}

.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-30px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


/******************************************************************************/


/*                           4. About Styles                                  */


/******************************************************************************/

.my-photo {
    /*border-radius: 100%;*/
    width: 75%;
    margin: 0 auto;
}


/******************************************************************************/


/*                   5. Education & Experience                                */


/******************************************************************************/


.new-entry {
    border-radius: 25px;
    border: 2px solid #333;
    background-color: #FAEBC8;
    padding: 20px;
    margin-top: 20px;
}

.job-time. .job-time:hover, .job-time:active {
    color: #333;
    font-weight: bold;
    text-decoration:none;
}

.job-title, .job-title:hover, .job-title:active {
    color: #333;
    padding-left: 20px;
    text-decoration:none;
    font-weight: bolder;
}

.card-block, li {
    color: #777;
    padding-left: 20px;
    padding-left: 20px;
}


.no-bckg {
    background-color: transparent;
}

.new-entry div h4 {
    color: #777;
    font-size: 18px;
}

.new-entry div h6 {
    color: #333;
    font-weight: bold;
}

.new-entry div p {
    color: #777;
}



.signal{
  position: relative;
  float: right;
  top: 20px;
  right: 10px;
  font-size: 20px;
}
.rotate {
    transform: rotate(0deg);
    transition: .5s;
}
.rotate2 {
    transform: rotate(180deg);
    transition: .5s;
}

/******************************************************************************/


/*                            6. Contact Me                                   */


/******************************************************************************/

textarea {
    height: 150px;
}

input, textarea {
    padding: 15px 10px 10px;
    font-family: 'Titillium Web', sans-serif;
    border: 0;
    border-radius: 5px;
    border-bottom: 1px solid #AAA;
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width: 100%;
    margin-top:40px;
}

input:focus, textarea:focus {
    outline: none;
    border-bottom: 3px solid #FFB300;
}

button {
    margin-top: 60px;
    margin-bottom: 25px;
    background-color: #FAEBC8;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 20px;
}

button:hover, .button:hover, button:focus {
    background: #FFB300;
    outline: none;
}

label.error {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    display: block;
    padding: 10px;
    background-color: #d89c9c;
    width: 100%;
    margin-top: 10px;
    color: #FAFAFA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 40px;
    margin-bottom: -50px;
}

.message {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
    display: none;
    padding: 10px;
    background-color: #98fb98;
    margin: auto;
    color: #FAFAFA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 40px;
    margin-bottom: -40px;
}


/******************************************************************************/


/*                                7. Footer                                   */


/******************************************************************************



*/

footer {
    background-color: #111;
}
footer div{
  width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.social-foot {
    font-size: 30px;
    text-shadow: 0px 5px 2px rgba(0, 0, 0, .8);
    margin: 0 auto;
    text-align: center;
}

.social-foot li {
    display: inline-block;
    padding-top: 100px;
    padding-bottom: 100px;
}

.social-foot li a {
    color: #eee;
}

.social-foot li a:hover {
    color: #FFB300;
}

.final {
    font-family: 'Titillium Web', sans-serif;
    color: #eee;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}
