header {
    display: block;
}

img{
  margin:15px;
}

.img-circle{
  border-radius: 100%;
  width:200px;
}

.img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bodyer{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top:100px;
}

h1{
  padding-left:50px;
  padding-top:50px;
  padding-bottom:10px;
  text-align: center;
}

p{
  padding-left:65px;
  text-align: center;

}
h4{
  padding-top: 20px;
  text-align: center;
}

body{
  background: -webkit-linear-gradient(#FFF, #555); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF, #555); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF, #555); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF, #555); /* Standard syntax (must be last) */
}

.social{
  text-align: center;
}

.btn{
  padding: 7px;
  margin-right:10px;
}

#portfolio{
  display:block;
  text-align: center;
}

.img-port{
  padding-right: 15px;
  margin: 20px;
}
footer{margin-bottom:150px;}

a:hover{
  text-decoration: none;
  color: #555
}

#cv{
  text-align: center;

}
